.todo-item {
  width: 260px;
  height: 200px;
  margin: 10px;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: rgba(59, 29, 167, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, color 0.4s ease, background 0.7s ease;

  &.imp {
    background: rgba(92, 94, 241, 0.589);
    animation: color-rotate 1s infinite ease-in-out;
    color: white;

    @keyframes color-rotate {
      from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(360deg);
      }
    }
  }

  header,
  section {
    width: 100%;
  }
  header {
    height: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    .options {
      display: flex;
      justify-content: space-between;

      .option {
        margin: 0 5px;
      }
    }
  }

  section {
    height: 90%;
    padding: 10px;
  }

  .todo-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    // to stop overflow
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
