.display-todos {
  height: 535px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px 10px;

  @media only screen and (max-width: 400px) {
    height: 450px;
  }

  .heading {
    margin: 10px;
  }
}
