.navbar {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .active-tab {
    border-bottom: 1px solid salmon;
  }

  a {
    text-decoration: none;
    margin: 20px;
    color: black;
    padding: 10px 15px;
  }

  form {
    margin-left: auto;
    margin-right: 40px;
  }

  .search-results-container {
    position: absolute;
    inset: 0;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &.hide-results {
      display: none;
    }

    .search-results {
      width: 500px;
      height: 500px;
      background-color: white;
    }
  }
}
